  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans Condensed', sans-serif;
} 

.grid-index{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 6.25rem ;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}

.grid-pages{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 6.25rem ;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}

body{
    background-color: white;      
}


header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

.inicio{
    width: 100%;
    height: 40.25rem;
    background-image: url(https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


nav {
    background-color: rgba(156, 171, 193, 0.5);
    box-shadow: 2px 0px 10px black;
}



h1 {
    font-weight: bold;
    color: rgba(39, 55, 77, 1);
    font-size: 3.75rem;
    font-style: oblique;
}

a{
    text-decoration: none;
}


.centro{
width: 100%;
height: 31.25rem;
}


.medio img{
    width: 15.625rem;
    height: 20.75rem;
    margin: 0.5%;
    
}



 .medio{
    display: flex;
    background-color:rgba(157, 178, 191, 1);
    width: 100%;
    height: 25rem;
    overflow: scroll;
    align-items: center;
    margin: 5% 0px 5% 0px;} 

.medio2{
    background-color: rgba(82, 109, 130, 1);
margin-bottom: 6.25rem;
padding: 5%;
width: 100%;
}

.medio2 img{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    margin: 5%;
box-shadow: 2px 2px 5px black;
}



.primerObras{
    display: flex;
    justify-content: center;

}

.primerObras article{
    position: relative;
        margin: 5% 2%;
}

.primerObras img{
    width: 15.625rem;
    border: .625rem solid rgb(44, 41, 25);
    box-shadow: 0px 0px 15px rgba(39, 55, 77, 1);
}

.primerObras img:hover{
    width: 15.625rem;
    border: .625rem solid rgb(44, 41, 25);
    box-shadow: 5px 5px 10px rgb(237, 238, 157);
}


.primerObras p{
    background-color: rgb(183, 209, 209);
    position: absolute;
    bottom: 2%;
    left: 40%;
}



.artistas img{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

.artistas{
    padding: 2%;
    margin: 1%;
    background-color: rgba(39, 55, 77, 1);
}

.artistas p{
    color: rgba(157, 178, 191, 1);
}

.artistasIm{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

.espacioArtistas{
    margin: 2% ;
}


.ayud{
    display: inline;
}

.ayu{
    background-color: rgba(39, 55, 77, 1);
    height: 40rem;
    margin: 3.125rem 1.25rem ;
    padding: 10% 5%;
}

.ayu h2{
    color: rgba(217, 217, 217, 1);
    font-size: 4.5rem;
}

.ayu p{
    color: rgba(217, 217, 217, 1);
    font-size: 1.75rem;
}



.barra ul{
    display: flex;
    justify-content: start;
    background-color: rgba(82, 109, 130, 1);
    list-style: none ;
    gap: 1.25rem;
    padding: .625rem;
}

.barra{
    width: 100%;
    height: 3.125rem;
    background-color: rgba(82, 109, 130, 1);
}



.acercaDe{
    background-color: rgba(39, 55, 77, 1);
    height: 50rem;
    margin: 3.125rem 1.25rem ;
    padding: 10% 5%;
}

.acercaDe h2{
    color: rgba(217, 217, 217, 1);
    font-size: 4.5rem;
}

.acercaDe p{
    color: rgba(217, 217, 217, 1);
    font-size: 1.75rem;
}






.obraEspacio img{
    width: 100%;
    box-shadow: 0px 0px 10px rgb(202, 189, 116);
    grid-area: ima;
}



.obraLado{
    grid-area: venta;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.obraLado p{
    width: 25.25rem;
}

.compra{
    display: grid;
    grid-template-columns: repeat(4, 12.5rem);
    grid-template-rows: repeat(3, 12.5rem);
    grid-template-areas: 
    "ima ima . venta"
    "ima ima . venta"
    "ima ima . venta"
    ;
}






.obraArte img{
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;

}


.datosArtista{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(4, 15.625rem);
    grid-template-rows: 18.75rem 18.75rem;
    grid-template-areas: 
    "im im . titulo"
    "im im . info"
    ;
    justify-content: center;
    align-content: center;
}

.datosArtista h2{
grid-area: titulo;
justify-self: center;
}

.datosArtista img{
grid-area: im;
width: 100%;
    height: 100%;
    object-fit: cover;

}

.datosArtista p{
grid-area: info;
}


.bx{
    font-size: 1.25rem;
}

.obraUno {
    margin-top: 2rem;
    padding: 2rem;
}

.obraUno img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0.3125rem 0.3125rem 0.625rem gray;
}

.obraUno h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}


.obraUno p {
    text-align: center;
}



.botonColor{
    background-color:  rgba(39, 55, 77, 1);
    width: 6.25rem;
    height: 3.125rem;
    border-radius: 1.875rem;
    color: aliceblue;
}

.botonColor:hover{
    background-color: rgba(82, 109, 130, 1);
}

.espacioArtista {
    margin-top: 1.25rem;
}

.imagenCompra img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}



.medioObra img {
    width: 100%;
    max-height: 20.75rem;
    object-fit: cover;
    margin: 0.625rem 0.3125rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem gray;
}

.medioObra {
    width: 100%;
    background-color: rgba(157, 178, 191, 1);
    padding: 1.25rem;
    margin: 5%;
}



footer {
    width: 100%;
    background-color: rgba(82, 109, 130, 1);
    padding: 3%;
}

footer h2 {
    display: inline;
    color:  rgba(217, 217, 217, 1);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

footer a {
    color:   rgba(217, 217, 217, 1);
    text-decoration: none;
    margin-right: 1rem;
}


footer section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.galeria{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(5,6.25rem);
    grid-template-areas: 
    "div1 div2 div3 div3"
    "div1 div2 div3 div3"
    "div1 div4 div4 div8"
    "div5 div5 div5 div8"
    "div6 div7 div7 div8"
    ;
    justify-content: center;
    gap: 1.25rem;
    margin: 3.75rem;
}

.galeria div{
width: 100%;
height: 100%;
}

.galeria div img{
width: 100%;
height: 100%;
object-fit: cover;
}


.div1{
    grid-area: div1;
}
.div2{
    grid-area: div2;
}
.div3{
    grid-area: div3;
}
.div4{
    grid-area: div4;
}

.div5{
    grid-area: div5;
}
.div6{
    grid-area: div6;
}
.div7{
    grid-area: div7;
}
.div8{
    grid-area: div8;
}


.linea{
    border: none;
    background-color:rgba(200, 210, 224, 0.699) ;
    height: 1.875rem;
    justify-self: center ;
    align-self: center;
}

.linea:focus{
    text-decoration: none;
    box-shadow: none;
    background-color: rgba(200, 210, 224, 0.925);
}



.card-img-overlay {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    text-align: center;
    }

.card-img-overlay h2{
    background-color: rgba(200, 210, 224, 0.541);
    padding: 1.25rem;
    width: 37.5rem;
    height: 12.5rem;
    font-size:x-large;
}
