  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans Condensed', sans-serif;
} 

.grid-index{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 6.25rem ;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}

.grid-pages{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 6.25rem ;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}

body{
    background-color: white;      
}


header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

.inicio{
    width: 100%;
    height: 40.25rem;
    background-image: url(https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.mensajeSeccion {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0%;
    }

.mensaje h2 {
    font-size: 3.125rem;
    color:rgba(39, 55, 77, 1) ;
    font-weight: bolder;
    }

.mensaje p {
    font-size: 1.875rem;
    color: rgba(39, 55, 77, 1);
    font-weight: bold;
    }

.resto{
    width: 100%;
    height: auto;
    background-image: url(https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


nav {
    background-color: rgba(156, 171, 193, 0.5);
    box-shadow: 2px 0px 10px black;
    z-index: 100;
    text-align: center;
}

nav li{
    font-weight: bold;
}



h1 {
    font-weight: bold;
    color: rgba(39, 55, 77, 1);
    font-size: 3.75rem;
    font-style: oblique;
}

a{
    text-decoration: none;
}


.centro{
width: 100%;
height: 31.25rem;
}


.medio2{
    background-color: rgba(82, 109, 130, 1);
margin-bottom: 6.25rem;
padding: 5%;
width: 100%;
}

.medio2 img{
    width: 6.25rem;
    height: 6.25rem;
    margin: 5%;
box-shadow: 2px 2px 5px black;
border-radius: 50%;
object-fit: cover;
}

.medio2 img:hover{
box-shadow: 2px 2px 5px rgb(180, 167, 167);
}


.primerObras img{
    box-shadow: 0px 2px 5px rgba(39, 55, 77, 1);
}

.tama単o{
    width: 15.625rem;
    height: 21.875rem; 
    margin: 1.25rem;
}

.tama単o img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.primerObras{
    display: block;
    justify-content: center;
    align-items: center;
}

.primerObras img:hover{
    box-shadow: 3px 3px 6px rgb(148, 241, 226);
}


.artistas img{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

.artistas{
    padding: 2%;
    margin: 1%;
    background-color: rgba(39, 55, 77, 1);
}

.artistas p{
    color: rgba(157, 178, 191, 1);
}

.artistasIm{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}


.ayud{
    display: inline;
}


.ayu{
    background-color: rgba(82, 109, 130, 0.705);
    height: 40rem;
    margin: 3.125rem 1.25rem ;
    padding: 10% 5%;
}

.ayu h2{
    color: rgba(217, 217, 217, 1);
    font-size: 4.5rem;
}

.ayu p{
    color: rgba(217, 217, 217, 1);
    font-size: 1.75rem;
}



.barra{
    width: 100%;
    height: 3.125rem;
    background-color: rgba(82, 109, 130, 0.705);
}

.barra .btn{
    font-weight: 700;
    margin: 10px 2rem;
    color: rgb(214, 219, 226);
    border: none;
}

.dropdown-item:focus{
    background-color: rgba(82, 109, 130, 0.705);
}

.acercaDe{
    background-color: rgba(82, 109, 130, 0.705);
    height: auto;
    margin: 3.125rem 1.25rem ;
    padding: 2rem;
    font-size: 1.1rem;
}

.acercaDe h2{
    color:rgba(39, 55, 77, 1);
    font-weight: bold;
}

.acercaDe p{
    color: rgba(39, 55, 77, 1);
}






.obraEspacio img{
    width: 100%;
    box-shadow: 0px 0px 10px rgb(202, 189, 116);
    grid-area: ima;
}



.obraLado{
    grid-area: venta;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.obraLado p{
    width: 25.25rem;
}




.obraArte img{
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;

}

.datosArtista{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "im info"
    ;
    margin: 3.125rem 0rem;
}


.datosArtista img{
grid-area: im;
width: 100%;
height: 31.25rem;
object-fit: cover;
}


.colorInfo{
    grid-area: info;
    color: rgba(39, 55, 77, 1);
    background-color: rgba(157, 178, 191, 1);
    text-align: end;
    font-size: 1.25rem;
    padding-right: .625rem;
}


.bx{
    font-size: 1.25rem;
}

.obraUno {
    margin: 2rem;
}

.obraUno img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0.3125rem 0.3125rem 0.625rem gray;
}

.obraUno h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}


.obraUno p {
    text-align: center;
}



.botonColor{
    background-color:  rgba(39, 55, 77, 1);
    width: 6.25rem;
    height: 3.125rem;
    border-radius: 1.875rem;
    color: aliceblue;
}

.botonColor:hover{
    background-color: rgba(82, 109, 130, 1);
}

.espacioArtista {
    margin-top: 1.25rem;
}

.imagenCompra img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}



.medioObra img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    box-shadow: 0.3125rem 0.3125rem 0.625rem gray;
    margin: .3125rem;
}

.medioObra {
    width: 100%;
    background-color: rgba(157, 178, 191, 1);
    padding: 1.25rem;
    height: auto;
    margin-bottom: .625rem;
}



footer {
    width: 100%;
    background-color: rgba(82, 109, 130, 1);
    padding: 3%;
}

footer h2 {
    display: inline;
    color:  rgba(217, 217, 217, 1);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

footer a {
    color:   rgba(217, 217, 217, 1);
    text-decoration: none;
    margin-right: 1rem;
}


footer section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
}


.galeria{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(6,6.25rem);
    grid-template-areas: 
    "div1 div2 div3 div3"
    "div1 div2 div3 div3"
    "div1 div4 div6 div8"
    "div5 div4 div6 div8"
    "div5 div4 div7 div7"
    "div5 div4 div7 div7"
    ;
    justify-content: center;
    gap: 1.25rem;
    margin: 3.75rem;
}

.galeria div{
width: 100%;
height: 100%;
}

.galeria div img{
width: 100%;
height: 100%;
object-fit: cover;
}


.div1{
    grid-area: div1;
}
.div2{
    grid-area: div2;
}
.div3{
    grid-area: div3;
}
.div4{
    grid-area: div4;
}

.div5{
    grid-area: div5;
}
.div6{
    grid-area: div6;
}
.div7{
    grid-area: div7;
}
.div8{
    grid-area: div8;
}


.linea{
    border: none;
    background-color:rgba(200, 210, 224, 0.699) ;
    height: 1.875rem;
    justify-self: center ;
    align-self: center;
}

.linea:focus{
    text-decoration: none;
    box-shadow: none;
    background-color: rgba(200, 210, 224, 0.925);
}



.card {
    position: relative;
    height: 12.5rem;
    margin: 1.25rem;
    border-radius: 150px 0% 200px 0%;
    overflow: hidden;
    background-color: rgba(82, 109, 130, 1);
}

.card-sobre {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.103);
}

.card p{
    margin-top: 0.5rem;
    color: aliceblue;
}

.card h5{
    color: aliceblue;
}
.card img {
    width: 18.75rem;
    height: 12.5rem;
    border-radius: 0% 0% 100% 0%;
    box-shadow: 1px 1px 8px rgba(39, 55, 77, 1);
    object-fit: cover;
}

.botonArtistas {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(39, 55, 77, 1);
    border-radius: 1.25rem;
    color: aliceblue;
}


.botonArtistas:active{
    background-color: rgba(157, 178, 191, 1);
}

.botonArtistas:hover{
    background-color: rgba(157, 178, 191, 1);
    font-size: large;

}


.formularios{
    display: flex;
    justify-content: center;
}

.formularios form{
    height: 31.25rem;
    width: 100%;
    padding: 1.25rem;
    margin: 6.25rem 3.125rem;
    background-color: rgba(82, 109, 130, 0.774);
    border: 1.25rem solid rgba(39, 55, 77, 1);
}

.registrarse{
    display: flex;
    flex-direction: column;
 justify-content: center;
 border-radius: 6.25rem 0rem;
}

.registrarse h2{
    text-align: end;
}

.registrarse button{
    align-self: center;
    background-color:rgba(39, 55, 77, 1) ;
    border: none;
    border-radius: 50% 0rem;
}

.acceder{
    display: flex;
    flex-direction: column;
 justify-content: center;
    border-radius: 0rem 6.25rem;
}

.acceder button{
    align-self: center;
    background-color:rgba(39, 55, 77, 1) ;
    border: none;
    border-radius: 0rem 50%;
}

.tituloA{
    font-style: italic;
    font-size: 1.25rem;
}


.grid-art{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,18.75rem);
    grid-template-rows: 25rem;
    grid-template-areas: 
    "im1 im2 im3 im4"
    ;
    justify-content: space-evenly;
    margin: 1.25rem 0rem;
}

.im1 {
    grid-area: im1;
}
.im2 {
    grid-area: im2;
}
.im3 {
    grid-area: im3;
}
.im4 {
    grid-area: im4;
}


.grid-art img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.grid-art div{
    width: 18.75rem;
    height: 25rem;
    
}



@media (max-width: 1024px){
    .mensaje h2 {
        font-size: 2.5rem;
        }
    
    .mensaje p {
        font-size: 1.25rem;
        }

        .tama単o{
            height: 15.625rem;
            width: 12.5rem;
        }

        .formularios {
            display: flex;
            justify-content: space-between;
        }
        .registrarse,
        .acceder {
            width: 48%; 
        }

        
.grid-art{
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1rem; 
}

.grid-art div{
    width: 100%;
    height: 100%;
}
     
    


}


@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(6, 6.25rem);
        grid-template-areas: 
            "div1 div2"
            "div1 div3"
            "div4 div6"
            "div5 div6"
            "div5 div7"
            "div8 div7";
    }

    .medio2 img{
    height: 3.125rem;
    width: 3.125rem;
    margin-top: 5%;
}

.inicio{
    height: 25rem;
}

.mensaje h2 {
    font-size: 1.875rem;
    }

.tama単o{
    width: 9.375rem;
    height: 6.25rem;
    margin: .125rem;
}

.imagenCompra img {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
}

.acercaDe {
    font-size: 1rem;
}

.grid-pages {
    grid-template-rows: auto auto auto;
}

.formularios{
    display: flex;
    flex-direction: column;
    width: 21.875rem;
}


.datosArtista{
    grid-template-columns: 31.25rem;
    grid-template-rows: 25rem 6.25rem 6.25rem;
    grid-template-areas:
    "im"
    "titulo"
    "info" ;
}


.grid-art{
    grid-template-columns: repeat(2,18.75rem);
    grid-template-rows: repeat(2,25rem);
    grid-template-areas: 
    "im1 im2"
    "im3 im4"
    ;
    justify-content: center;
}

.grid-art div{
    width: 18.75rem;
    height: 21.875rem;
}



.card img{
    width: 18.75rem;
}



.grid-art{
    grid-template-columns: repeat(2, 18.75rem);
    grid-template-rows: auto;
    gap: 1rem; 
}

.grid-art div{
    width: 100%;
    height: 100%;
}




.datosArtista{
    grid-template-columns: 37.5rem;
    grid-template-rows: 37.5rem 18.75rem;
    grid-template-areas: 
    "im"
    "info"
    ;
    justify-content: center;
}

.colorInfo{
    text-align: center;
}

.datosArtista img{
height: 37.5rem;
}


}

@media (max-width: 425px){

.card img{
    width: 100%;
    height: 100%;
    border-radius: 0%;
}


.grid-art{
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1rem; 
}

.grid-art div{
    width: 100%;
    height: 100%;
}



.datosArtista{
    grid-template-columns: 21.875rem;
    grid-template-rows: 31.25rem 18.75rem;
    grid-template-areas: 
    "im"
    "info"
    ;
    justify-content: center;
}

.colorInfo{
    text-align: center;
}

.datosArtista img{
height: 37.5rem;
}

}



@media (max-width: 320px) {
    

    .galeria{
        grid-template-columns: repeat(2,8.125rem);
        grid-template-rows: repeat(4,6.25rem);
        grid-template-areas: 
        "div1 div2"
        "div3 div4"
        "div5 div6"
        "div7 div8";
    }
    .galeria img{
        width: 12.5rem;
        height: 12.5rem;
    }

    .mensaje h2 {
        font-size: 1.0625rem;
        }
    
    .mensaje p {
        font-size: .75rem;
        }

        .inicio{
            height: 18.75rem;
        }



.medioObra{
    width: 100%;
    margin: 0rem;
}
.medioObra img{
    width: 6.25rem;
    margin: .3125rem;
    height: 9.375rem;

}

.formularios{
    width: 15.625rem;
}

.grid-art{
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1rem; 
}

.grid-art div{
    width: 100%;
    height: 100%;
}


.card img{
    width: 100%;
    height: 100%;
    border-radius: 0%;
}


.datosArtista{
    grid-template-columns: 18.75rem;
    grid-template-rows: 25rem 18.75rem;
    grid-template-areas: 
    "im"
    "info"
    ;
    justify-content: center;
}


.datosArtista img{
height: 25rem;
}


.colorInfo{
    text-align: center;
    font-size: 1rem;
}



}


