.miRegistro{
    height: auto;
    background: linear-gradient($color-medio, $color-claro);
    margin: 1.25rem 3.125rem;
    .divUser{
        @include flex(none, center, center);
        img{
            border-radius: 50%;
            width: 18.75rem;
            height: 18.75rem;
            margin: 2%;
        }
    }
    .datosUser{
        @include flex (row, space-evenly, center);
        margin-top: 10%;
    }
}