.masObras{
    margin: 1.25rem;
    color: $color-oscuro;
    font-weight: bolder;
}

.obraUno{
    display: flex;
    margin: 2rem;
    div{
        .row{
            .col{
                img{
                    width: 100%;
                    object-fit: cover;
                    box-shadow: 0.3125rem 0.3125rem 0.625rem gray;
                }
            }
            .conteDos{
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                background: linear-gradient(180deg, rgba(39,55,77,1) 0%, rgba(138,160,173,0) 100%);
                border-radius: 0rem  0rem 0rem;
                h2{
                    font-size: 2rem;
                    margin-bottom: 1rem;
                    color: $color-contraste;
                    margin-top: 1rem;
                }
                p{
                    text-align: center;
                    color: $color-contraste;
                }
                .imagenCompra{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    img{
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                    }
                    .nombreArtista{
                        font-size: 1rem;
                    }
                }
            }
            .espacioArtista{
                margin-top: 1.25rem;
                .comentarios{
                    textarea{
                        padding: 1rem;
                        box-shadow: none;
                        border:none ;
                        color: $color-contraste;
                        background-color: $color-oscuro;
                        &::placeholder{
                        color: $color-medio;
                    }
                    }
                    
                }
            }
        }
    }
}